# Supabase設定（Supabaseダッシュボードの Project Settings > API から取得）
VITE_SUPABASE_URL=https://ihhwefduwmkhqjlxuert.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImloaHdlZmR1d21raHFqbHh1ZXJ0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjM1OTg4NiwiZXhwIjoyMDg3OTM1ODg2fQ.fC8yHeFp_mvPECmeeHZf2ivnbA-HpF7N2h1UNp5eCho